<div class="container">
    <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    <mat-card>
        <mat-card-content>
            <mat-card-title translate>Portfolio's Statistics</mat-card-title>
            <mat-card-subtitle>

            </mat-card-subtitle>
            <canvas id="canvas_pie" width="400" height="450"></canvas>
            <canvas id="canvas" width="400" height="450"></canvas>

        </mat-card-content>
    </mat-card>
    <h3 class="header-text">Feed</h3>

    <mat-grid-list cols="2">
        <mat-grid-tile>
            <mat-card class="feed">
                <mat-card-title translate>New Photography Lences</mat-card-title>
                <mat-card-subtitle>

                </mat-card-subtitle>
                <img src="../../assets/images/user/autumn-camera-leaves.jpg">
                <mat-card-content class="truncate">
                    unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                </mat-card-content>
                <mat-card-footer>
                    photography, programming
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="feed">
                <mat-card-title translate>Art vs Science</mat-card-title>
                <mat-card-subtitle>

                </mat-card-subtitle>
                <img src="../../assets/images/user/abstract-black-white.jpg">
                <mat-card-content class="truncate">
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into e
                </mat-card-content>
                <mat-card-footer>
                    art
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="feed">
                <mat-card-title translate>How programming improves photography</mat-card-title>
                <mat-card-subtitle>

                </mat-card-subtitle>
                <img src="../../assets/images/user/blur-close-up-code.jpg">
                <mat-card-content class="truncate">
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into e
                </mat-card-content>
                <mat-card-footer>
                    photography, programming
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="feed">
                <mat-card-title translate>Human eye and Lences</mat-card-title>

                <mat-card-subtitle>

                </mat-card-subtitle>
                <img src="../../assets/images/user/abstract-art-artistic.jpg">
                <mat-card-content class="truncate">
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into e
                </mat-card-content>
                <mat-card-footer>
                    photography
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>